{% extends "proj_base.html.twig" %}


{% block title %}Card Game{% endblock %}

{% block body %}


<div class = "board">
    <h1>
        <img src="../../img/dealer.png" alt="sealer" style= "width: 15%;">
    </h1>
    <h1>
        <img src="../../img/player3.png" alt="sealer" style= "width: 15%;">
        Coins left: {{ coins }}
    </h1>
    <div>
        <h2> Hur mycket vill du satsa/hand? </h2>
        <p> Minimum = 5 coins </p>
        <form method="post" action="{{ path('proj_betsmade') }}">
            {% for i in range(0, handsquantity-1) %}
                <div class="hand">
                    <label> Hand {{i+1}}
                    <input type="number" name={{i+1}} required min=5 max = {{coins}}>
                </div>
            {% endfor %}
            <input type="submit" value="Vidare ->" >
        </form>
    </div>
</div>

{% endblock %}