{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>
<h3>Routes som används i utvecklingen av detta spel:</h3>

<ul>
    <li><a href="{{ path('card_start') }}">START</a></li>
    <li><a href="{{ path('deck-shuffle') }}">VISAR KORTLEKEN BLANDAD</a></li>
    <li><a href="{{ path('deck-sorted') }}">VISAR KORTLEKEN SORTERAD</a></li>
    <li><a href="{{ path('deck-draw') }}">DRAR ETT KORT</a></li>
    <li><a href="{{ path('deck-draw-number', {num: 5}) }}">DRAR FLERA KORT (5st)</a></li>
    <br>
    <li><a href="{{ path('card_init') }}"> RESET SESSION</a></li>
</ul>


<div class="flex">
    <div class="one">
    <h3>Strukturen på  klasser och deras relation:</h3>
        <p>
            Klasserna DeckOfCards, CardHand och Cards ligger till grund för denna uppgift hittills. Ett kort instantieras inuti DeckOfCards
            och därmed är relationen mellan DeckofCards och Card komposition där kortleken äger kortet.
            En kortlek kan beroende på om den är komplett eller ej, innehålla allt fån ett kort till max 52 kort. CardHand tar på sig den funktion
            som kortleken har och ärver därmed från DeckOfCards. CardHand har däremot ytterligare en metod vilken kan dra valfritt antal kort från den
            angivna kortleken. På samma sätt som Card har en komposotionsrelation med DeckOfCards så har även CardHand detta med Cards.
            En hand kan ta max 52 st kort i en giv och ett kort kan delas ut till max 52 olika händer om respektive hand har minst ett kort i varje.
        </p>
    </div>
    <div class="two">
        <img src="{{ asset('img/cards/klassUML.png') }}" alt="" style= "width: 80%;">
    </div>
</div>

{% endblock %}
