<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.jpg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/header.jpg') }})">
        </header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ path('home') }}"> << Report</a></li>
                <li><a href="{{ path('home') }}"> About</a></li>
                <li><a href="{{ path('proj_init') }}"> Spela </a></li>
                <li><a href="{{ path('home') }}"> Regler </a></li>
                <li><a href="{{ path('home') }}"> Doc -API </a></li>
            </ul>
        </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
            &copy; Nadja Spångberg
        {% endblock %}
    </footer>
    </body>
</html>
