<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/cards/ace_of_spades.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="blackjackbody">
        <nav class="navbarreport">
                <ul class="backlinkdiv">
                    <li><a href="{{ path('home') }}"> << TILLBAKA TILL REPORT <<</a></li>
                </ul>
        </nav>
        <header class="hero-image" style="background-image: url('https://images.pexels.com/photos/6664128/pexels-photo-6664128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 500px;">
            <div class="hero-text">
                <h1>Black Jack</h1>
                <a href="{{ path('proj_init') }}">
                    <button class="play" style="margin-bottom:5%;">
                        Nytt Spel!
                    </button>
                </a>
                <nav class="navblackjack cards">
                    <ul class="cardlinksdiv">
                        <a href="{{ path('proj_about') }}"> <li> About </li></a>
                        <a href="{{ path('proj_rules') }}"> <li> Regler  </li></a>
                        <a href="{{ path('proj_api_init') }}"> <li> Doc -API  </li></a>
                    </ul>
                </nav>
            </div>
        </header>
    <main class=blackjackmain">
        {% block body %}{% endblock %}
    </main>
    <footer class="blackjackfooter">
        {% block footer %}
            &copy; Nadja Spångberg
        {% endblock %}
    </footer>
    </body>
</html>
