{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<a href="{{ path('library') }}">
    <span>
        <img src="{{ asset('img/leftarrow.png') }}" alt="" style="width: 15px;">
        Tillbaka
    </span>
</a>

{{ include('flash.html.twig') }}
<h1> Böcker i biblioteket:</h1>
<div class="row">
    <div class="flex" style="width:70%;">
        <div style="width:40%;">
            {% for value in books%}
                <a href="{{ path('book_show_one', {id: value.id}) }}">
                    <div class="hero-image" style="background-image: url('{{value.img}}');height: 500px; border-radius: 8px; margin: 2px; border: solid black 1px; background-color: black;">
                        <div class="hero-text">
                            <h3 style="border-bottom: 4px double #ccc;">{{ value.title }}</h3>
                            <h5>{{ value.author }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div style="border: solid 1px #03791f4d; border-radius: 8px; padding: 10px; background-color: #03791f4d; float:right;">
        <h1>Lägg till en ny bok:<h1><br>
        <form method="post" action='{{ path('book_create_post') }}'>
            <label style="font-size:70%;">Titel:</label>
                <input type="text" name="title" required><br>
            <label style="font-size:70%;">Författare:</label>
                <input type="text" name="author" required><br>
            <label style="font-size:70%;">ISBN:</label>
                <input type="text" name="isbn" required><br>
            <label style="font-size:70%;">Img-URL:</label>
                <input type="text" name="img" required><br>
            <input type="submit" name="do_it" value="Lägg till ny bok"><br><br>
        </form>
    </div>
</div>

{% endblock %}
