{% extends "base.html.twig" %}

{% block title %}API JSON{% endblock %}

{% block body %}

<h1>API JSON</h1>
<p>Här är dom routes som används för api:</p>
<ul>
    <li><a href="{{ path('quote') }}"> DAGLIGT CITAT (kmom01)</a></li>
    <br>
    <li><a href="{{ path('json_deck') }}"> VISA BEFINTLIG SORTERAD KORTLEK</a></li>
    <li><a href="{{ path('json_shuffle') }}">VISA BEFINTLIG BLANDAD KORTLEK</a></li>
    <li><a href="{{ path('json_draw') }}">DRAR ETT KORT</a></li>
    <li><a href="{{ path('json-draw-number', {num: 5}) }}">DRAR FLERA KORT (5)</a></li>
    <br>
    <li><a href="{{ path('api_init') }}"> RESET SESSION</a></li>
</ul>

<h1> Nuvarande kortlek:</h1>
{% for value in deck%}
    <img src="../../../img/cards/{{ value }}.png" alt="{{ value }}" style= "width: 5%;">
{% endfor %}

{% endblock %}